<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Timestamp Microservice | freeCodeCamp.org</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <style>
      h1 {
        text-align: center;
      }
      button {
        display: block;
        margin: auto;
      }
      a {
        text-decoration: none;
        color: black;
      }
    </style>
  </head>
</head>
<body>
  <main>
    <header>
      <h1>Error, Invalid Route</h1>
    </header>
    <div class="error">
      <button>
        <a href="/">Return Home!</a>
      </button>
    </div>
  </main>
</body>
</html>